@import "../../styles/Variables.scss";

.container {
	height: auto;
	max-width: 100%;
	width: auto;

	.header {
		height: 58px;
		width: 100%;
		border-bottom: 2px solid #f7f9fa;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: $sm) {
			flex-direction: column;
			height: auto;
			margin: 1rem 0;
			padding-bottom: 1rem;
			align-items: baseline;
		}
		&_search {
			background-color: rgb(237, 237, 237);
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 1rem;
			margin-right: 1rem;
			border-radius: 20px;
			color: $font-grey;
			@media screen and (max-width: $sm) {
				margin: auto;
			}
		}
		input {
			border: none;
			background-color: rgb(237, 237, 237);
			height: 2rem;
			width: 330px;
			border-radius: 20px;
			padding-left: 1rem;
			font-family: $font-main;
			margin: auto;

			&:focus {
				outline: none;
			}
		}
		h1 {
			margin-right: auto;
			font-family: $font-main;
			font-size: 18px;
			letter-spacing: -1px;
			font-weight: 600;
			color: $font-black;
			padding-left: 1rem;
			@media screen and (max-width: $sm) {
				margin-bottom: 1rem;
			}
		}
	}
	.form {
		height: 110px;
		border-bottom: 2px solid #f7f9fa;
		padding-bottom: 1rem;

		.grid {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.form_group {
				margin-left: 1rem;

				textarea {
					border: none;
					padding-top: 1.5rem;
					margin-right: 2rem;
					width: 500px;

					resize: none;
					height: 50px;
					font-family: $font-main;
					font-size: 16px;
					color: $font-grey;

					&:focus {
						outline: none;
					}
				}
				input {
					border: none;
					margin-right: 2rem;
					width: 500px;
					height: 20px;

					font-family: $font-main;
					font-size: 14px;
					color: $font-grey;

					&:focus {
						outline: none;
					}
				}
				input,
				textarea {
					@media screen and (max-width: $md) {
						width: auto;
					}
				}
				button {
					border: none;

					background-color: $blue;
					color: white;
					height: 40px;
					width: 85px;
					border-radius: 20px;
					font-family: $font-main;
					font-weight: 500;
					font-size: 14px;
					cursor: pointer;
					margin-right: 1rem;
					transition: transform 0.2s ease;
					&:hover {
						transform: translateY(-0.2rem);
					}
				}
			}
		}
	}
	.card_grid {
		height: auto;
		display: flex;
		flex-wrap: wrap;
		@media screen and (max-width: $md) {
			justify-content: center;
		}
	}
}
