// Google fonts

// font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// font-family: 'Inter', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

// Fonts
$font-main: "Inter", sans-serif;
$font-second: "Roboto", sans-serif;

//Card colors
$card-red: #ff6060;
$card-blue: #39a0ff;
$card-black: #313131;

//Font colors
$font-black: #3e4a6b;
$font-grey: #5d7285;

//Colors
$blue: #39a0ff;
$red: #ff6060;
